body {
    font-family: Verdana, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1366px;
    background: url(../img/background.png) no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.header {
    padding-top: 49px;
    padding-left: 155px;
    padding-right: 147px;
    display: flex;
    justify-content: space-between;
}

.header__logo {

    background: url(../img/logosprite.png) no-repeat;
    height: 44px;
    width: 46px;
    background-position: -0px -44px;
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
}

.logo-milan {
    position: relative;
    left: 61px;
    top: -4px;
    font-size: 29px;
    line-height: 29px;
    font-weight: 700;
}

.logo-holidays {
    position: relative;
    left: 62px;
    top: -2px;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
}

.header__logo:hover {
    color: #f26522;
    background-position: -0px -0px;
}

.header__contacts {
    color: #ffffff;
    list-style-type: none;
    font-size: 18px;
    line-height: 21px;
    text-align: right;
}

.main {
    padding-top: 44px;
    padding-left: 155px;
    padding-right: 148px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    text-decoration: none;
    box-sizing: border-box;
}

.main__tour {
    text-decoration: none;
    color: #ffffff;
    position: relative;
}
.main__tour:nth-child(-n + 3){
    margin-bottom: 40px;
}

.tour-details {
    background-color: #f26522;
    width: 312px;
    height: 63px;
    position: absolute;
    bottom: 61px;
    display: none;
}

.tour-details span:nth-of-type(1) {
    font-size: 10px;
    padding-left: 21px;
    position: relative;
    top: 10px;
}

.tour-details span:nth-of-type(2) {
    font-size: 20px;
    position: relative;
    padding-left: 21px;
    top: 10px;
}

.tour-details span:nth-of-type(3) {
    font-size: 14px;
    position: relative;
    top: 10px;
    left: 125px;
}

.main__tour:hover {
    color: #f26522;
}

.main__tour:hover .tour-details {
    display: block;
    color: #ffffff;
}

.tour-img {
    border: 2px solid transparent;
    border-image: linear-gradient(to bottom, #fff, transparent);
    border-image-slice: 1;
}

.tour-name {
    font-size: 18px;
    text-align: center;
}

.footer {
    text-align: center;
    color: #ffffff;
    font-size: 12px;
    padding-top: 25px;
    padding-bottom: 10px;
    margin: 0;
}
